



#cabecera{
    width: 3000px;
    height: 80px;
    float: left;
    color: white;
    background: rgb(84, 136, 227);
    font-size: 20px;
    line-height:normal;
    margin-bottom: 10px;
}

#menu{
    color: cornsilk;
    display: block;
    background-color: #333;
    width: 100%;
    }

#listPrincipal{
    display: inline-block;
    
}

#efraa{
    
}
